body{
     background-image: url('Background.png');
     background-size: 120%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     margin-top: 200px;
     font-weight: bolder;
}

.box{
    box-shadow: 0 0 20px 0 ;
    background: transparent;
    background-color: rgb(238, 184, 91);
    width: 50%;
    margin: auto;
    padding: 20px;
}